main .content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-size: 0.85em;
  color: var(--color-fg-primary);
}

main .content p,
main .content ul,
main .content ol {
  /* font-family: Lora, "Palatino Linotype", "Book Antiqua", "New York", "DejaVu serif", serif; */
  font-family: Verdana, sans-serif;
  text-align: justify;
  overflow-wrap: break-word;
  word-break: break-word;
}

main .content code, .codehilite {
  font-size: 0.9em;
}

@media screen and (max-width: 767px) {
  main {
    padding: 0.25em 0.5em;
  }

  main p {
    padding: 0.25em;
  }
}

main .content p > img,
main .content p > video,
main .content p > audio {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

article .title {
  color: var(--color-title-fg);
}

a:hover {
  opacity: 0.7;
}

.description h3 {
  font-weight: normal;
  color: var(--color-fg-secondary);
  margin: -.5em auto .5em auto;
}

.meta {
  font-size: 0.75em;
  color: var(--color-fg-tertiary);
  margin-bottom: 2em;
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

.meta .p-author {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

.meta .p-author img.u-photo {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  main .container {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  main .container {
    max-width: 40em;
  }
}

.codehilite {
  padding: 0 .5em;
  overflow: auto;
  border: 1px solid var(--color-border);
}

.main-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image-container img {
  width: 80%;
}
