main {
  padding: 0;
}

.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.folder {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.folder .folder-title {
  width: calc(100% - 0.66em);
  display: flex;
  background: var(--color-folder-bg);
  box-shadow: 1px 1px 1px 1px var(--color-shadow-tertiary);
  font-size: 0.8em;
  padding: 0.33em;
}

.folder .folder-title a {
  width: 100%;
}

.articles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.article {
  display: block;
  width: 100%;
  box-shadow: 0 1px 3px 1px var(--color-shadow);
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-fg-primary) !important;
}

.article:hover {
   box-shadow: 0 1px 4px 3px var(--color-shadow-accent);
   opacity: 1;
   border-radius: .5em;
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .article {
    padding: 0 calc(1em + 7vw);
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .article {
    width: 50%;
  }
}

@media screen and (min-width: 980px) and (max-width: 1279px) {
  .article {
    width: 33.33%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .article {
    width: 25%;
  }
}

@media screen and (min-width: 1600px) {
  .article {
    width: 20%;
  }
}

.article .container {
  height: 100%;
  padding: 2em;
}

.image {
  height: 35%;
  z-index: 1;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 0.75em;
}

.article .title {
  color: var(--color-title-fg);
  font-size: 1.2em;
  font-weight: bold;
  margin-top: .4em;
  text-align: center;
}

a {
  border-bottom: 0;
}


a:hover {
  opacity: 0.8;
}

.description {
  color: var(--color-fg-secondary);
  font-size: .8em;
}

.published-date {
  font-size: .8em;
  color: var(--color-fg-tertiary);
  margin: .5em 0 2em 0;
  text-align: center;
}

h3 {
  margin: 40px 0 0;
}

