<div class="mention">
  <div class="mention-author">
    {% if mention.author_photo %}
      <img class="mention-author-photo" src="{{ mention.author_photo }}" alt="" loading="lazy" />
    {% endif %}

    {% if mention.author_name or mention.author_url %}
      {% if mention.author_url %}
        <a class="mention-author-name" href="{{ mention.author_url }}">{{ mention.author_name or hostname(mention.author_url) }}</a>
      {% else %}
        <span class="mention-author-name">{{ mention.author_name }}</span>
      {% endif %}
    {% else %}
      <span class="mention-author-name">{{ hostname(mention.source) }}</span>
    {% endif %}
  </div>

  <div class="mention-header">
    <h3 class="mention-title">
      <a class="mention-source" href="{{ mention.source }}">
        {{ mention.title or hostname(mention.source) }}
      </a>
    </h3>
  </div>

  <div class="dates">
    <p class="mention-date created">
      &#128338;&nbsp;
      <span class="date">{{ format_datetime(mention.published or mention.created_at) }}</span>
        {% if mention.updated_at and mention.updated_at != mention.created_at %}
          <span class="updated" title="Updated at {{ format_datetime(mention.updated_at) }}">
          &nbsp;&#9998;
        {% endif %}
      </span>
    </p>
  </div>

  {% if mention.excerpt or mention.content %}
    <div class="mention-body">
      <p class="mention-excerpt">{{ mention.excerpt or mention.content }}</p>
    </div>
  {% endif %}
</div>
